<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Roys Ciclisimo Crew #roysciclisimocrew">

    <title>Roys Ciclisimo // {{ datetime.year }}</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/pure-min.css') }}>
    <link rel="stylesheet" href={{ url_for('static', filename='css/gallery.css') }}>
</head>
<body>
<div>

    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" href="/">Roys Cicl&iacutesimo</a>
            <ul>
                <li class="pure-menu-selected"><a href="#">blog</a></li>
                <li><a href="#">shop</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </div>
    </div>

    <div class="pure-g-r">
        {% for image in images %}
            <div class="pure-u-1-3 photo-box">
                <img src="{{ image.standard_resolution }}">
                <aside class="photo-box-caption">{{ image.caption }}</aside>
            </div>
        {% endfor %}
    </div>

    <div class="footer">
        Roys Cicl&iacutesimo Crew // {{ datetime.year }}
    </div>

</div>

</body>
</html>
